# https://www.linode.com/docs/uptime/logs/use-logrotate-to-manage-log-files/
{{ app_dir }}/shared/log/*.log {
  weekly
  rotate 6
  compress
  compresscmd /bin/xz
  su {{ deploy_user }} {{ deploy_group }}
}
